version: 2
jobs:
  build:
    docker:
      - image: circleci/node:11.3.0
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: install-npm
          command: npm install
      - run:
          name: test
          command: MOCHA_FILE=~/junit/mocha/results.xml npm run ci-test
          when: always
      - store_test_results:
          path: ~/junit
      - store_artifacts:
          path: ~/junit
