<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="/edit/node_modules/mathjs/dist/math.js"></script>
    <script src="/edit/node_modules/json-editor/dist/jsoneditor.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script>
    </script>
  </head>
  <body>
    <div id="editor">
    </div>
    <button onclick="save()">Save</button>
    <script>
      function save() {
        var errors = editor.validate();

        if (errors.length) {
          console.log(errors);
        } else {
          var schema = editor.getValue();
          if (typeof docName == 'undefined') {
            console.log('creating');
            $.ajax({
              url : '/api/' + schemaName,
              type: 'POST',
              data: JSON.stringify(schema),
              contentType: 'application/json'
            })
            .then(function(result) {
              console.log(result);
            }, function(err) {
              console.log(err);
            });

          } else {
            console.log('creating');
            $.ajax({
              url : '/api/' + schemaName + '/' + docName,
              type: 'PUT',
              data: JSON.stringify(schema),
              contentType: 'application/json'
            })
            .then(function(result) {
              console.log(result);
            }, function(err) {
              console.log(err);
            });
          }
        }
          
      }

      $(document).ready(function () {

        editor = document.getElementById('editor');
        console.log(editor);

        var path = window.location.pathname.split('/');
        schemaName = path[2];
        
        console.log(schemaName)

        $.get('http://localhost:3000/api/schemas/' + schemaName)
          .then(function (schema) {
            console.log(schema);
            if (path.length == 4 && path[3] != 'create') {
              docName = path[3];
              $.get('http://localhost:3000/api/' + schemaName + '/' + docName)
              .then(function (doc) {
                window.editor = new JSONEditor(editor, {
                  schema: schema,
                  theme: 'bootstrap3',
                  data: doc
                });  
              });
            } else {
              window.editor = new JSONEditor(editor, {
                  schema: schema,
                  theme: 'bootstrap3'
              });
            }
          });

      });
        
    </script>
  </body>
</html>